.settings
node_modules
coverage
.idea
.DS_Store
dist/iotf-client-bundle.js
dist/iotf-client-bundle.min.js
package-lock.json
IoTFoundation.pem
src/util/IoTFoundation.pem
dist
.nyc_output
instrumented-src
npm-debug.log
